<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UseLINQtoSql.Properties.Settings.testConnectionString"
            connectionString="Data Source=.;Initial Catalog=test;Persist Security Info=True;User ID=he;Password=hj.593942539"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>